<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  The <a href="http://localhost:3000/">Sample App</a>
  is a project made by Vo Duy Vinh using Ruby on Rails. He follows the instructions from the <a href="http://ruby.railstutorial.org"> Rails Tutorials </a>. This
  is the sample application for demonstrating his ability of self-study.
</p>
